
<div class="span2">
  <ul class="nav nav-list">
      <% @categories.each do |cat| %>
        <li class="nav-head"><%=  cat.name%></li>
          <% cat.forums.each do |f| %>
          <li><%=  f.name%></li>
        <% end %>
      <% end %>
    </ul>
</div>

<div class="span10">
<p>The Future home of Charleston Kiteforums </p>

</div>
