 <ul class="nav nav-list">
    <% if @categories %>
      <% @categories.each do |cat| %>
        <li class="nav-header"><%=  cat.name%></li>
          <% cat.forums.each do |f| %>
          <li><%=  link_to "#{f.name}", forem.forum_path(f.id) %></li>
        <% end %>
      <% end %>
      <li class="nav-header">Wind Reports</li>

      <% end %>
    </ul>